@import url(https://fonts.googleapis.com/css?family=Inter);

:root {
	font-family: 'Inter', 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color-scheme: light dark;
	color: #000000;
	background: #fafafa;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #fff;
		background: #1c1c1c;
	}
}

html, body {
	height: 100%;
	margin: 0;

}

* {
	font-family: 'Inter', 'Helvetica Neue', arial, sans-serif;
	user-select: none;
}

.hidden {
	display: none !important;
}

button {
	padding: 8px 32px;
	font-size: 24px;
	border: 0;
	border-radius: 4px;
	background-color: #DFDFDF;
	cursor: pointer;
	margin: 16px 16px 0 0;
}

button:active {
	background-color: #c7c7c7;
}

#root {
	height: 100%;
}

/*
button:hover {
	background-color: #eee;
}*/
