h2 {
    margin: 8px 0;
}

h3 {
    margin: 4px 0;
}

table {
    width: 100%;
    text-align: left;
}

input[type=text] {
    font-size: 1.3em;
    width: 1.35em;
    text-align: center;
    aspect-ratio: 1
}

input {
    font-size: 1.2em;
    width: 100%;
}

td {
    padding-right: 16px;
}

.main {
    background-color: #eee;
    width: 550px;
    padding: 4px 16px 32px;
    border-radius: 4px;
    font-size: 0.8em;
    text-align: left;
}